.section-about {
  grid-column: center-start/center-end;
  padding: 1.5rem;
  background-color: #000000;
  border-top: 1px solid #ffffff; }
  .section-about__content {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .section-about__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1; }
    .section-about__icons :not(:last-child) {
      margin-bottom: 1.5rem; }
  .section-about__icon {
    padding: 1.5rem;
    height: 11rem;
    width: 11rem;
    fill: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    border: 1px solid #ffffff;
    transform: translateY(-3px);
    transition: all 0.3s;
    cursor: pointer; }
    @media only screen and (max-width: 51.5625em) {
      .section-about__icon {
        height: 9rem;
        width: 9rem; } }
    .section-about__icon--active {
      fill: #ba6bf0;
      box-shadow: 0rem 1rem 2rem rgba(255, 255, 255, 0.2);
      transform: translateY(-1px); }
    .section-about__icon:hover {
      transform: translateY(-2px) scale(1.1);
      box-shadow: 0rem 1.75rem 2.5rem rgba(255, 255, 255, 0.4); }
  .section-about__text {
    flex: 1;
    position: relative;
    color: #ffffff; }
  .section-about__detail {
    display: none; }
    .section-about__detail--active {
      display: block; }
  .section-about__text::before {
    content: "\201C";
    position: absolute;
    top: -13rem;
    left: -4rem;
    font-size: 25rem;
    z-index: 2;
    font-weight: 700;
    color: rgba(186, 107, 240, 0.5); }
    @media only screen and (max-width: 59.375em) {
      .section-about__text::before {
        top: -13rem;
        left: -9rem; } }
    @media only screen and (max-width: 51.5625em) {
      .section-about__text::before {
        font-size: 20rem;
        top: -9rem;
        left: -6rem; } }
  .section-about__detail {
    width: 90%; }
  @media only screen and (max-width: 46.875em) {
    .section-about .paragraph {
      font-size: 1.5rem; } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 51.5625em) {
    html {
      font-size: 47%; } }

body {
  font-family: "Lato", sans-serif;
  color: #000000;
  font-weight: 300;
  line-height: 1.6;
  background-color: #000000; }

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(14rem, min-content) [col-end]) [center-end] 1fr [full-end];
  grid-template-rows: 100vh; }
  @media only screen and (max-width: 59.375em) {
    .container {
      grid-template-columns: [full-start] min-content [center-start] repeat(8, [col-start] minmax(min-content, max-content) [col-end]) [center-end] min-content [full-end]; } }

.footer {
  grid-column: full-start/full-end;
  border-top: 1px solid #db78ff;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer__logo {
    height: 5rem;
    margin-bottom: 2.5rem; }
  .footer__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem; }
  .footer__item {
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic; }
    .footer__item:not(:last-of-type) {
      margin-right: 2.5rem; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    text-decoration: none;
    color: #ffff;
    transition: all 0.2s ease; }
    .footer__link:link:hover, .footer__link:visited:hover {
      transform: scale(1.05);
      background-color: #ffff;
      color: #000000; }
  .footer__btn:link, .footer__btn:visited {
    display: inline-block;
    text-decoration: none;
    padding: 0 2rem;
    font-size: 1.7rem;
    color: #ffff;
    border-bottom: 1px solid #ffff;
    margin-bottom: 1.5rem;
    transition: all 0.2s ease-out; }
    .footer__btn:link:hover, .footer__btn:visited:hover {
      transform: scale(1.1) translateY(-3px);
      background-color: #b600f8; }
    .footer__btn:link:active, .footer__btn:visited:active {
      transform: scale(1.05) translateY(-1px);
      background-color: #b600f8; }
  .footer__copyright {
    font-size: 1.5rem;
    font-style: italic; }

.header {
  grid-row: 1/2;
  grid-column: full-start/full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.6)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  padding: 3.5rem;
  display: flex;
  flex-direction: column; }

.nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start; }
  @media only screen and (max-width: 46.875em) {
    .nav {
      visibility: hidden;
      opacity: 0; } }
  .nav__logo {
    height: 4rem; }
  .nav__list {
    list-style: none;
    display: flex; }
  .nav__item:not(:last-of-type) {
    margin-right: 3.5rem; }
  .nav__link:link, .nav__link:visited {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: all 0.3s;
    padding: 1.75rem 1.5rem; }
  .nav__link:hover {
    background-color: #ffffff;
    color: #000000; }

.cta {
  align-self: flex-start;
  flex: 1;
  margin: 4rem auto 0 auto; }

.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  color: #ffffff;
  background-color: transparent;
  padding: 1rem 3rem;
  border: 0.05rem solid #ffffff;
  border-radius: 2.7rem;
  box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.2);
  transform: translateY(-3px);
  cursor: pointer;
  transition: all 0.3s; }
  @media only screen and (max-width: 51.5625em) {
    .btn:link,
    .btn:visited {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 39.0625em) {
    .btn:link,
    .btn:visited {
      font-size: 2rem; } }
  .btn:link::before,
  .btn:visited::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    padding: 1rem 3rem;
    border-radius: 2.7rem;
    background-color: transparent;
    transition: all 0.3s ease-in;
    z-index: -1; }
  .btn:link:hover::before,
  .btn:visited:hover::before {
    width: 100%;
    height: 100%;
    background-color: #ffffff; }
  .btn:link:hover,
  .btn:visited:hover {
    color: #000000; }
  .btn:link:active,
  .btn:visited:active {
    transform: translateY(-1px);
    box-shadow: 0 1rem 1.5rem rgba(255, 255, 255, 0.2); }

.section-history {
  background-color: #000000;
  grid-column: full-start/full-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  border-top: 1px solid #ffff;
  color: #ffff; }
  .section-history__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    align-items: center;
    margin-bottom: 1.5rem; }
  .section-history__date {
    position: relative;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    display: grid;
    justify-self: end;
    padding: 2.5rem 4rem;
    border-right: 2px solid #ffff; }
    @media only screen and (max-width: 51.5625em) {
      .section-history__date {
        font-size: 1.75rem; } }
    .section-history__date::after {
      content: "";
      display: block;
      position: absolute;
      height: 2rem;
      width: 2rem;
      background-color: #ffff;
      border-radius: 50%;
      top: 50%;
      right: -1rem;
      transform: translate(0, -50%);
      color: #ffff;
      font-size: 3rem; }
  .section-history__description {
    display: block;
    width: 100%;
    text-align: start;
    font-size: 2rem; }
    @media only screen and (max-width: 51.5625em) {
      .section-history__description {
        font-size: 1.75rem; } }

.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3000;
  backdrop-filter: blur(3px);
  z-index: 5;
  transition: all 0.3s ease;
  opacity: 1; }
  .overlay--hidden {
    visibility: hidden;
    opacity: 0; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4000; }
  .modal__close:link, .modal__close:active {
    position: absolute;
    text-decoration: none;
    font-size: 5rem;
    line-height: 1;
    color: #000000;
    font-weight: bolder;
    top: 2.5rem;
    right: 3.5rem;
    transition: all 0.2s; }
  .modal__close:hover {
    color: #ba6bf0;
    transform: scale(1.1); }
  .modal__title {
    color: #000000;
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
    transition: all 0.3s ease;
    backface-visibility: hidden; }
    .modal__title:hover {
      color: #db78ff;
      transform: scale(1.1); }
  .modal__description {
    margin-top: 2.5rem;
    color: #000000;
    font-style: italic;
    font-size: 1.8rem;
    margin-bottom: 1.75rem; }
    @media only screen and (max-width: 46.875em) {
      .modal__description {
        font-size: 1.7rem;
        text-align: center; } }
  .modal .modal-video {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .modal .modal-video__img {
      height: 30rem;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5); }
      @media only screen and (max-width: 51.5625em) {
        .modal .modal-video__img {
          height: 25rem; } }
      @media only screen and (max-width: 46.875em) {
        .modal .modal-video__img {
          height: 20rem; } }
  .modal__tech {
    color: #000000;
    font-size: 1.85rem;
    font-style: italic; }
    @media only screen and (max-width: 46.875em) {
      .modal__tech {
        font-size: 1.75rem; } }
  .modal__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 46.875em) {
      .modal__list {
        flex-direction: column; } }
  .modal__item {
    color: #000000;
    font-size: 1.65rem;
    padding: 0 1rem; }
    .modal__item:not(:last-of-type) {
      margin-right: 2rem; }
      @media only screen and (max-width: 46.875em) {
        .modal__item:not(:last-of-type) {
          margin-right: 0; } }
    .modal__item:not(:first-of-type) {
      border-left: 1px solid #000000; }
      @media only screen and (max-width: 46.875em) {
        .modal__item:not(:first-of-type) {
          border-left: 0; } }
  .modal__cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem; }
    @media only screen and (max-width: 46.875em) {
      .modal__cta {
        margin-top: 1.75rem; } }
  .modal__btn:link, .modal__btn:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2.5rem;
    font-size: 1.75rem;
    font-weight: 400; }
    @media only screen and (max-width: 51.5625em) {
      .modal__btn:link, .modal__btn:visited {
        font-size: 1.2rem; } }
    .modal__btn:link:not(:last-of-type), .modal__btn:visited:not(:last-of-type) {
      margin-right: 2rem; }
  .modal__reference-btn {
    border: none;
    background-color: #c012ff;
    color: #fff;
    border-radius: 10px;
    transition: all 0.2s ease;
    text-align: center; }
    .modal__reference-btn:hover {
      background-color: #e292ff;
      transform: scale(1.03) translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
    .modal__reference-btn:active {
      background-color: #e292ff;
      transform: scale(1.03) translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
  .modal__repo-btn {
    border: none;
    background-color: #8d17de;
    color: #fff;
    border-radius: 10px;
    transition: all 0.2s ease;
    text-align: center; }
    .modal__repo-btn:hover {
      background-color: #c582f2;
      transform: scale(1.03) translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
    .modal__repo-btn:active {
      background-color: #c582f2;
      transform: scale(1.03) translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.navigation {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s; }
  @media only screen and (max-width: 46.875em) {
    .navigation {
      visibility: visible;
      opacity: 1; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    text-align: center;
    background-color: #ffff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 4.2rem;
    left: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    cursor: pointer; }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    left: 6.5rem;
    background-image: radial-gradient(#611099, #b600f8);
    z-index: 1000;
    transition: transform 0.5s cubic-bezier(0.83, 0, 0.17, 1); }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    width: 0;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  .navigation__list {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #ffff;
    text-transform: uppercase;
    text-decoration: none;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffff 50%);
    background-size: 225%;
    transition: all 0.4s; }
    .navigation__link:link span, .navigation__link:visited span {
      display: inline-block;
      margin-right: 1.5rem; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #ba6bf0;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #222222;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__checkbox:checked ~ .navigation__nav .navigation__link {
    opacity: 1;
    visibility: visible; }

.portfolio {
  background-color: #000000;
  grid-column: full-start/full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.65)), url(../img/portfolio-bg.jpg);
  background-size: cover;
  padding: 3rem;
  /*&__project-tech {
    grid-column: 1/-1;
    padding: 2rem 0;
    margin: 3rem 1.5rem 0 1.5rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__tech-item {
    position: relative;
    font-size: 1.45rem;
    display: flex;
    align-items: center;
    margin: 1.5rem;
  }
  &__tech-item::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover;
    //Support queries
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: #db78ff;
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-size: cover;
      background-image: none;
    }
  }
*/ }
  .portfolio__projects {
    margin: 0 auto;
    width: 80%;
    padding: 3rem;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
    grid-row-gap: 2rem; }
    @media only screen and (max-width: 59.375em) {
      .portfolio__projects {
        width: 90%; } }
  .portfolio__card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.65);
    margin-bottom: 2rem;
    transform: skewX(-12deg);
    display: flex;
    align-items: center;
    padding: 3rem;
    z-index: 2;
    transition: all 0.2s ease-in; }
    @media only screen and (max-width: 51.5625em) {
      .portfolio__card {
        flex-direction: column; } }
    .portfolio__card > * {
      transform: skewX(12deg); }
    .portfolio__card--1::after {
      content: "\0030 \0031";
      position: absolute;
      z-index: 1;
      top: -3rem;
      right: 0;
      font-size: 10rem;
      font-weight: 700;
      opacity: 0.2;
      color: #c012ff; }
    .portfolio__card--2::after {
      content: "\0030 \0032";
      position: absolute;
      z-index: 1;
      top: -3rem;
      right: 0;
      font-size: 10rem;
      font-weight: 700;
      opacity: 0.2;
      color: #c012ff; }
    .portfolio__card--3::after {
      content: "\0030 \0033";
      position: absolute;
      z-index: 1;
      top: -3rem;
      right: 0;
      font-size: 10rem;
      font-weight: 700;
      opacity: 0.2;
      color: #c012ff; }
    .portfolio__card--4::after {
      content: "\0030 \0034";
      position: absolute;
      z-index: 1;
      top: -3rem;
      right: 0;
      font-size: 10rem;
      font-weight: 700;
      opacity: 0.2;
      color: #c012ff; }
  .portfolio__project-title {
    display: inline-block;
    margin: 2rem;
    font-weight: 700;
    font-size: 1.75rem;
    font-style: italic;
    width: 35%; }
    @media only screen and (max-width: 59.375em) {
      .portfolio__project-title {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 51.5625em) {
      .portfolio__project-title {
        text-align: center;
        width: 100%;
        font-size: 1.7rem; } }
  .portfolio__description {
    display: inline-block;
    margin: 0 4rem;
    margin-top: 1rem;
    font-size: 1.5rem; }
    @media only screen and (max-width: 59.375em) {
      .portfolio__description {
        font-size: 1.4rem; } }
  .portfolio__details {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .portfolio__btn {
    align-self: flex-start;
    position: relative;
    margin: 2.5rem 3rem 1rem 3rem;
    padding: 0 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ba6bf0;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: #611099;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 1; }
    @media only screen and (max-width: 59.375em) {
      .portfolio__btn {
        font-size: 1.5rem; } }
    .portfolio__btn:hover {
      background-color: #cd45ff;
      color: white;
      transform: translateY(-4px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.section-services {
  grid-column: center-start/center-end;
  color: #ffff;
  padding: 2rem;
  border-top: 1px solid #ffff;
  border-bottom: 1px solid #ffff; }

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: center;
  grid-column-gap: 4rem;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 59.375em) {
    .services {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fit, minmax(20rem, 1fr));
      grid-column-gap: 0;
      margin: 0 auto;
      width: 90%; } }
  .services__card {
    background-color: rgba(238, 238, 238, 0.55);
    font-size: 1.7rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.3s ease; }
    @media only screen and (max-width: 59.375em) {
      .services__card {
        margin-bottom: 2.5rem;
        flex-direction: row;
        align-items: center; } }
    .services__card:hover {
      transform: translateY(-3px) scale(1.05);
      box-shadow: 0 2rem 2.5rem rgba(255, 255, 255, 0.3); }
  .services__icon {
    fill: #6b0092;
    width: 10rem;
    height: 10rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 59.375em) {
      .services__icon {
        margin: 0 1.5rem; } }
    @media only screen and (max-width: 34.375em) {
      .services__icon {
        width: 9rem;
        height: 9rem; } }
  .services__title {
    font-size: 1.7rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 59.375em) {
      .services__title {
        margin: 0 2rem; } }
    @media only screen and (max-width: 34.375em) {
      .services__title {
        font-size: 1.5rem; } }
  .services__description {
    hyphens: auto;
    font-weight: 300;
    font-size: 1.6rem; }
    @media only screen and (max-width: 34.375em) {
      .services__description {
        font-size: 1.5rem; } }
  .services__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 34.375em) {
      .services__list {
        flex-direction: column; } }
  .services__item {
    padding: 0 1.5rem;
    font-size: 1.6rem;
    text-align: center; }
    .services__item:not(:last-of-type) {
      border-right: 1px solid #ffff; }
      @media only screen and (max-width: 34.375em) {
        .services__item:not(:last-of-type) {
          border: none;
          border-bottom: 1px solid #ffff;
          margin-bottom: 0.5rem; } }
    @media only screen and (max-width: 39.0625em) {
      .services__item {
        font-size: 1.4rem; } }

.tech__title {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 2.5rem; }

.heading-primary {
  margin: 0 auto;
  color: #ffffff;
  font-weight: 300;
  font-size: 6.5rem;
  position: relative;
  align-self: flex-start;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: start;
  animation: animateOpacity 1.25s ease-in;
  letter-spacing: 0.5rem; }
  @media only screen and (max-width: 51.5625em) {
    .heading-primary {
      font-size: 6rem; } }
  @media only screen and (max-width: 39.0625em) {
    .heading-primary {
      font-size: 5rem; } }
  .heading-primary span {
    margin-left: 1.5rem;
    font-weight: bolder; }
  .heading-primary::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #ffffff;
    transform: translateY(-5px);
    animation: animateBorder 1.5s ease 1.25s;
    animation-fill-mode: backwards; }

.sub-heading {
  margin: auto;
  align-self: flex-start;
  color: #ffffff;
  font-size: 4rem;
  font-weight: 300;
  font-style: italic;
  flex: 0;
  animation: moveText 1s ease 0.5s;
  animation-fill-mode: backwards; }
  @media only screen and (max-width: 51.5625em) {
    .sub-heading {
      font-size: 3rem; } }
  @media only screen and (max-width: 39.0625em) {
    .sub-heading {
      font-size: 2.5rem; } }

.heading-secondary {
  text-transform: uppercase;
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 400;
  background-image: linear-gradient(to right, #ba6bf0 33.33%, #4bd1ff 66.66%, #db78ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.15rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skew(4.5deg, -2deg) scale(1.1); }

.heading-tertiary {
  font-size: 3rem;
  font-weight: 300;
  font-style: italic; }

.paragraph {
  font-size: 1.75rem;
  line-height: 1.3; }

@keyframes animateBorder {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes animateOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveText {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 39.0625em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }
  @media only screen and (max-width: 34.375em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }
