.section-about {
  grid-column: center-start/center-end;
  padding: 1.5rem;
  background-color: #000000;
  border-top: 1px solid #ffffff; }
  .section-about__content {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .section-about__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1; }
    .section-about__icons :not(:last-child) {
      margin-bottom: 1.5rem; }
  .section-about__icon {
    padding: 1.5rem;
    height: 11rem;
    width: 11rem;
    fill: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    border: 1px solid #ffffff;
    transform: translateY(-3px);
    transition: all 0.3s;
    cursor: pointer; }
    .section-about__icon--active {
      fill: #ba6bf0;
      box-shadow: 0rem 1rem 2rem rgba(255, 255, 255, 0.2);
      transform: translateY(-1px); }
    .section-about__icon:hover {
      transform: translateY(-2px) scale(1.1);
      box-shadow: 0rem 1.75rem 2.5rem rgba(255, 255, 255, 0.4); }
  .section-about__text {
    flex: 1;
    position: relative;
    color: #ffffff; }
  .section-about__text::before {
    content: "\201C";
    position: absolute;
    top: -13rem;
    left: -4rem;
    font-size: 25rem;
    z-index: 2;
    font-weight: 700;
    color: rgba(186, 107, 240, 0.5); }
  .section-about__detail {
    width: 90%; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  color: #000000;
  font-weight: 300;
  line-height: 1.6;
  background-color: #000000; }

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(14rem, min-content) [col-end]) [center-end] 1fr [full-end];
  grid-template-rows: 100vh; }

.footer {
  grid-column: full-start/full-end;
  border-top: 1px solid #db78ff;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer__logo {
    height: 5rem;
    margin-bottom: 2.5rem; }
  .footer__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem; }
  .footer__item {
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic; }
    .footer__item:not(:last-of-type) {
      margin-right: 2.5rem; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    text-decoration: none;
    color: #ffff;
    transition: all 0.2s ease; }
    .footer__link:link:hover, .footer__link:visited:hover {
      transform: scale(1.05);
      background-color: #ffff;
      color: #000000; }
  .footer__btn:link, .footer__btn:visited {
    display: inline-block;
    text-decoration: none;
    padding: 0 2rem;
    font-size: 1.7rem;
    color: #ffff;
    border-bottom: 1px solid #ffff;
    margin-bottom: 1.5rem;
    transition: all 0.2s ease-out; }
    .footer__btn:link:hover, .footer__btn:visited:hover {
      transform: scale(1.1) translateY(-3px);
      background-color: #b600f8; }
    .footer__btn:link:active, .footer__btn:visited:active {
      transform: scale(1.05) translateY(-1px);
      background-color: #b600f8; }
  .footer__copyright {
    font-size: 1.5rem;
    font-style: italic; }

.header {
  grid-row: 1/2;
  grid-column: full-start/full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.6)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  padding: 3.5rem;
  display: flex;
  flex-direction: column; }

.nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start; }
  .nav__logo {
    height: 4rem; }
  .nav__list {
    list-style: none;
    display: flex; }
  .nav__item:not(:last-of-type) {
    margin-right: 3.5rem; }
  .nav__link:link, .nav__link:visited {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: all 0.3s;
    padding: 1.75rem 1.5rem; }
  .nav__link:hover {
    background-color: #ffffff;
    color: #000000; }

.cta {
  align-self: flex-start;
  flex: 1;
  margin: 4rem auto 0 auto; }

.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  color: #ffffff;
  background-color: transparent;
  padding: 1rem 3rem;
  border: 0.05rem solid #ffffff;
  border-radius: 2.7rem;
  box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.2);
  transform: translateY(-3px);
  cursor: pointer;
  transition: all 0.3s; }
  .btn:link::before,
  .btn:visited::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    padding: 1rem 3rem;
    border-radius: 2.7rem;
    background-color: transparent;
    transition: all 0.3s ease-in;
    z-index: -1; }
  .btn:link:hover::before,
  .btn:visited:hover::before {
    width: 100%;
    height: 100%;
    background-color: #ffffff; }
  .btn:link:hover,
  .btn:visited:hover {
    color: #000000; }
  .btn:link:active,
  .btn:visited:active {
    transform: translateY(-1px);
    box-shadow: 0 1rem 1.5rem rgba(255, 255, 255, 0.2); }

.section-history {
  background-color: #000000;
  grid-column: full-start/full-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  border-top: 1px solid #ffff;
  color: #ffff; }
  .section-history__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    align-items: center;
    margin-bottom: 1.5rem; }
  .section-history__date {
    position: relative;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    display: grid;
    justify-self: end;
    padding: 2.5rem 4rem;
    border-right: 2px solid #ffff; }
    .section-history__date::after {
      content: "";
      display: block;
      position: absolute;
      height: 2rem;
      width: 2rem;
      background-color: #ffff;
      border-radius: 50%;
      top: 50%;
      right: -1rem;
      transform: translate(0, -50%);
      color: #ffff;
      font-size: 3rem; }
  .section-history__description {
    display: block;
    width: 100%;
    text-align: start;
    font-size: 2rem; }

.portfolio {
  background-color: #000000;
  grid-column: full-start/full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.65)), url(../img/portfolio-bg.jpg);
  background-size: cover;
  padding: 3rem;
  /*&__project-tech {
    grid-column: 1/-1;
    padding: 2rem 0;
    margin: 3rem 1.5rem 0 1.5rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__tech-item {
    position: relative;
    font-size: 1.45rem;
    display: flex;
    align-items: center;
    margin: 1.5rem;
  }
  &__tech-item::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover;
    //Support queries
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: #db78ff;
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-size: cover;
      background-image: none;
    }
  }
*/ }
  .portfolio__projects {
    margin: 0 auto;
    width: 80%;
    padding: 3rem;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
    grid-row-gap: 2rem; }
  .portfolio__card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.65);
    margin-bottom: 2rem;
    transform: skewX(-12deg);
    display: flex;
    align-items: center;
    padding: 3rem;
    z-index: 2; }
    .portfolio__card > * {
      transform: skewX(12deg); }
    .portfolio__card--1::after {
      content: "\0030 \0031";
      position: absolute;
      z-index: 1;
      top: -3rem;
      right: 0;
      font-size: 10rem;
      font-weight: 700;
      opacity: 0.2;
      color: #c012ff; }
    .portfolio__card--2::after {
      content: "\0030 \0032";
      position: absolute;
      z-index: 1;
      top: -3rem;
      right: 0;
      font-size: 10rem;
      font-weight: 700;
      opacity: 0.2;
      color: #c012ff; }
    .portfolio__card--3::after {
      content: "\0030 \0033";
      position: absolute;
      z-index: 1;
      top: -3rem;
      right: 0;
      font-size: 10rem;
      font-weight: 700;
      opacity: 0.2;
      color: #c012ff; }
    .portfolio__card--4::after {
      content: "\0030 \0034";
      position: absolute;
      z-index: 1;
      top: -3rem;
      right: 0;
      font-size: 10rem;
      font-weight: 700;
      opacity: 0.2;
      color: #c012ff; }
  .portfolio__project-title {
    display: inline-block;
    margin: 2rem;
    font-weight: 700;
    font-size: 2rem;
    font-style: italic;
    width: 35%; }
  .portfolio__description {
    display: inline-block;
    margin: 0 4rem;
    margin-top: 1rem;
    font-size: 1.5rem; }
  .portfolio__details {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .portfolio__btn {
    align-self: flex-start;
    position: relative;
    margin: 2.5rem 3rem 1rem 3rem;
    padding: 0 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ba6bf0;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: #611099;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 1; }
    .portfolio__btn:hover {
      background-color: #cd45ff;
      color: white;
      transform: translateY(-4px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.section-services {
  grid-column: center-start/center-end;
  color: #ffff;
  padding: 2rem;
  border-top: 1px solid #ffff;
  border-bottom: 1px solid #ffff; }

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: center;
  grid-column-gap: 4rem;
  margin-bottom: 4rem; }
  .services__card {
    background-color: rgba(238, 238, 238, 0.55);
    font-size: 1.7rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.3s ease; }
    .services__card:hover {
      transform: translateY(-3px) scale(1.05);
      box-shadow: 0 2rem 2.5rem rgba(255, 255, 255, 0.3); }
  .services__icon {
    fill: #6b0092;
    width: 10rem;
    height: 10rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem; }
  .services__title {
    font-size: 1.7rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 2rem; }
  .services__description {
    hyphens: auto;
    font-weight: 300;
    font-size: 1.6rem; }
  .services__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center; }
  .services__item {
    padding: 0 1.5rem;
    font-size: 1.6rem;
    text-align: center; }
    .services__item:not(:last-of-type) {
      border-right: 1px solid #ffff; }

.tech__title {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 2.5rem; }

.heading-primary {
  margin: 0 auto;
  color: #ffffff;
  font-weight: 300;
  font-size: 7rem;
  position: relative;
  align-self: flex-start;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: start;
  animation: animateOpacity 1.25s ease-in;
  letter-spacing: 0.5rem; }
  .heading-primary span {
    margin-left: 1.5rem;
    font-weight: bolder; }
  .heading-primary::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #ffffff;
    transform: translateY(-5px);
    animation: animateBorder 1.5s ease 1.25s;
    animation-fill-mode: backwards; }

.sub-heading {
  margin: auto;
  align-self: flex-start;
  color: #ffffff;
  font-size: 4rem;
  font-weight: 300;
  font-style: italic;
  flex: 0;
  animation: moveText 1s ease 0.5s;
  animation-fill-mode: backwards; }

.heading-secondary {
  text-transform: uppercase;
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 400;
  background-image: linear-gradient(to right, #ba6bf0 33.33%, #4bd1ff 66.66%, #db78ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.15rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skew(4.5deg, -2deg) scale(1.1); }

.heading-tertiary {
  font-size: 3rem;
  font-weight: 300;
  font-style: italic; }

.paragraph {
  font-size: 1.75rem;
  line-height: 1.3; }

@keyframes animateBorder {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes animateOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveText {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }
