.heading-primary {
  margin: 0 auto;
  color: #ffffff;
  font-weight: 300;
  font-size: 6.5rem;
  position: relative;
  align-self: flex-start;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: start;
  animation: animateOpacity 1.25s ease-in;
  letter-spacing: 0.5rem;

  @media only screen and (max-width: $bp-small) {
    font-size: 6rem;
  }
  @media only screen and (max-width: $bp-extra-small) {
    font-size: 5rem;
  }

  span {
    margin-left: 1.5rem;
    font-weight: bolder;
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #ffffff;
    transform: translateY(-5px);
    animation: animateBorder 1.5s ease 1.25s;
    animation-fill-mode: backwards;
  }
}

.sub-heading {
  margin: auto;
  align-self: flex-start;
  color: #ffffff;
  font-size: 4rem;
  font-weight: 300;
  font-style: italic;
  flex: 0;
  animation: moveText 1s ease 0.5s;
  animation-fill-mode: backwards;
  @media only screen and (max-width: $bp-small) {
    font-size: 3rem;
  }
  @media only screen and (max-width: $bp-extra-small) {
    font-size: 2.5rem;
  }
}

//About section--Heading secondary

.heading-secondary {
  text-transform: uppercase;
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 400;
  background-image: linear-gradient(
    to right,
    $color-gradient-1 33.33%,
    $color-gradient-2 66.66%,
    $color-gradient-3 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.15rem;
  transition: all 0.2s;

  &:hover {
    transform: skew(4.5deg, -2deg) scale(1.1);
  }
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 300;
  font-style: italic;
}
.paragraph {
  font-size: 1.75rem;
  line-height: 1.3;
}

//heading animations

@keyframes animateBorder {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes animateOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveText {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
